<footer>
    <br />
    <br />
    <p>
    POKEMON<br />
    Gotta Cach 'Em All
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/developer" target="_blank" class="icon-link">
        <i class="fab fa-github"></i> </a>
        <a href="https://facebook.com/yourpage" target="_blank" class="icon-link">
        <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/youraccount" target="blank" class="icon-link">
        <i class="fab fa instagram"></i>
        </a>
        <!--Add other social nedis icons similarly>--> 
    </div>
        <p>
        &copy; 2023 Your WebsiteName. All Rights Reserved.
        </p> 
</footer>