{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- COLLECTIONS -->
  <section class="collections-container">
    <h2>Collections</h2>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Trainer Name</th>
          <th>Pokemon Card</th>
          <th>Collection Date</th>
        </tr>
      </thead>
      <tbody>
        {% for collections in collection %}
          <tr>
            <td>{{ collections.trainer.name }}</td>
            <td>{{ collections.card.name }}</td>
            <td>{{ collections.collection_date }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" style="text-align: center;">
              <p>No Collections Found</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}